KII_RPC_URL=https://json-rpc.uno.sentry.testnet.v3.kiivalidator.com/
DEPLOYER_PRIVATE_KEY=0xYOUR_DEV_WALLET_PRIVATE_KEY

ENTRY_POINT_ADDRESS=0xC3412374BEf9Ea5De79022454c1802A5a58fB2B3
DEPLOY_ENTRYPOINT=false
BUNDLER_RPC_URL=http://localhost:4337/rpc

PAYMASTER_ADDRESS=
TREASURY_MANAGER_ADDRESS=
SETTLEMENT_OPERATOR_PRIVATE_KEY=0xYOUR_OPERATOR_PRIVATE_KEY
SETTLEMENT_ROUTER_ADDRESS=
FEE_TOKEN_ADDRESSES=

USDC_ADDRESS=
USDT_ADDRESS=
USDC_TOKEN_PER_KII=1
USDT_TOKEN_PER_KII=1
USDC_MAX_FEE_PER_OP=5
USDT_MAX_FEE_PER_OP=5
USDC_MAX_SLIPPAGE_BPS=500
USDT_MAX_SLIPPAGE_BPS=500
PAYMASTER_DEPOSIT_KII=0.1

NEXT_PUBLIC_ENTRY_POINT_ADDRESS=0xC3412374BEf9Ea5De79022454c1802A5a58fB2B3
NEXT_PUBLIC_BUNDLER_RPC_URL=http://localhost:4337/rpc
NEXT_PUBLIC_PAYMASTER_ADDRESS=
NEXT_PUBLIC_TREASURY_MANAGER_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_USDT_ADDRESS=
NEXT_PUBLIC_SIMPLE_SWAP_ADDRESS=
NEXT_PUBLIC_LOCK_VAULT_ADDRESS=
